# Build files
*.egg-info/
*build/
.eggs/
.fuse_*
dist/
version.py

# Temporary files
*.pyc
.coverage
.coverage.*
.mypy*/
.pytest_cache/
__pycache__/
coverage.xml
htmlcov/
oryx-build-commands.txt
prof/

# Virtual environments
*venv/
pyvenv*/
uv.lock

# Settings
.idea/
**.code-workspace

# Exceptions
!.cspell.json
!.github/*.yml
!.github/*/*.yml
!.gitpod.yml
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.readthedocs.yml
!.vscode/*.json
!codecov.yml
!pyrightconfig.json
